## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [31]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [32]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index =temperatures.index(max_temp)

In [33]:
print(max_temp)
print(max_temp_index)

42
4

In [34]:
# Store the lowest temperature 
min_temp = min(temperatures)
print(min_temp)
# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)
print(min_temp_index)

29
2

In [35]:
# Swap the highest and the lowest temperatures
temperatures[2]=max_temp
temperatures[4]=min_temp

In [36]:
# Print the output list

temperatures

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [37]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [38]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list) 
mean_price

1975.0

### Calculate the median price

In [39]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
sorted_prices

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [40]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)

10

In [41]:
##no of elements is even

In [42]:
# Use the corresponding formula to calculate the median and print the median
median_price =(sorted_prices[4]+sorted_prices[5])/2
median_price

575.0

In [44]:
# Check which is greater, mean or median
#mean price is greater than median

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  Because 15000 is a exteremely bigger number present in the list like an outlier

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [46]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [53]:
# Write your code beloprint
correct_tech_companies=['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [54]:
# Do the same task another way
correct_tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']